<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CA-2022513</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- Bootstrap JavaScript and jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Pet Store</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/add_page">Add Item</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <h3 style="text-align: center;">Pets:</h3>
    <table class="table table-hover" action="/update_item/{{ pet.id }}" method="POST">
        <thead>
            <tr class="table-active">
                <th scope="col">id</th>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Breed</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
        <tr class="table-warning">
            <td>{{ pet.id}}</td>
            <td>{{ pet.name}} </td>
            <td>{{ pet.type }} </td>
            <td>{{ pet.breed }} </td>
            <td>{{ pet.price }}</td>
        </tr>
    </tbody>
    </table>
    <form action="/update_item/{{ pet.id }}" method="POST">
        <h3 style="text-align: center;">Update Pets:</h3>
        <ul class="list-unstyled">
            <li class="row align-items-center">
                <div class="col-md-2">Id:</div>
                <div class="col-md-6">
                    <input type="int" name="id" value="{{ pet.id }}" class="form-control">
                </div>
            </li>
            <li class="row align-items-center">
                <div class="col-md-2">Name:</div>
                <div class="col-md-6">
                    <input type="text" name="name" value="{{ pet.name }}" class="form-control">
                </div>
            </li>
            <li class="row align-items-center">
                <div class="col-md-2">Type:</div>
                <div class="col-md-6">
                    <input type="text" name="type" value="{{ pet.type }}" class="form-control">
                </div>
            </li>     
            <li class="row align-items-center">
                <div class="col-md-2">Breed:</div>
                <div class="col-md-6">
                    <input type="text" name="breed" value="{{ pet.breed }}" class="form-control">
                </div>
            </li>
            <li class="row align-items-center">
                <div class="col-md-2">Price:</div>
                <div class="col-md-6">
                    <input type="text" name="price" value="{{ pet.price }}" class="form-control">
                </div>
            </li>
        </ul>
        <button type="submit" class="btn badge rounded-pill bg-primary custom-btn-xl custom-btn-wide" style="color: white" id="changePos">Update</button>
        <!-- <button type="submit">Update</button> -->
    </form>

</body>
</html>
